{% extends 'base.html' %}
{% load static %}

{% block title %}<title>About page</title>{% endblock %}

{% block content %}

    <section class="p-1">
        <div class="text-center">
            <h2 class="title p-3">About us</h2>
        </div>
        <!-- Case Study Description
          top section -->
        <div class="case-study-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- inner sub-title -->
                        <div class="content">
                            <h3 class="inner-title">How it started...</h3>
                            <p class="case-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                diam nonummy nibh euiyd tincidunt ut laoreet dolore magna aliquam nibh utpat.Ullamcorper
                                suscipit lobo nibh euiyd tinci- dunt ut laoreet.</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem impedit molestias cumque
                                dolorum, sunt, provident blanditiis tempora, aut explicabo error ipsa repudiandae.
                                Dolores eius eaque eum mollitia esse nisi necessitatibus distinctio ea, dolorem non,
                                optio minima temporibus blanditiis, quidem aperiam!
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="img-responsive">
                            <img class="img-fluid" src="{% static 'images/s8quattro.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Case Study Description
          bottom section -->
        <div class="case-study-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img-content">
                            <img class="w-75 img-fluid" src="{% static 'images/audis.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- inner sub-title -->
                        <div class="content">
                            <h3 class="inner-title">How it is going...</h3>
                            <p class="case-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                diam nonummy nibh euiyd tincidunt ut laoreet dolore magna aliquam nibh utpat.Ullamcorper
                                suscipit lobo nibh euiyd tinci- dunt ut laoreet.</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex unde soluta, nesciunt
                                consequuntur accusamus sint! Eaque quod consectetur laborum quae repudiandae illum hic
                                explicabo sunt perferendis. Voluptas, fugiat eos sed!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}