{% extends 'base.html' %}

{% block content %}

    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ object.subject }}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on {{ object.date }}</div>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded"
                                              src="{{ object.image_url.url }}" alt="..."/>
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <h4>{{ object.short_description }}</h4>
                        <p class="fs-5 mb-4">{{ object.large_description }}</p>
                    </section>
                </article>
                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            {% if request.user.is_authenticated %}
                                <form method="post" class="mb-4">
                                    {% csrf_token %}
                                    <div class="row ">
                                        <div class="col-lg-7 mx-auto">
                                            <div class="card mt-2 mx-auto p-4 bg-light">
                                                <div class="card-body bg-light">
                                                    <div class="container">
                                                        <form id="contact-form" role="form">
                                                            <div class="controls">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group"><label
                                                                                for="form_email">Email</label>{{ comment_form.email }}
                                                                        </div>
                                                                    </div>

                                                                        <div class="form-group"><label
                                                                                for="form_message">Message</label>
                                                                            {{ comment_form.body }}</div>

                                                                    {% if form.errors %}
                                                                        {% for field in form %}
                                                                            {% for error in field.errors %}
                                                                                <div class="alert alert-danger">
                                                                                    <strong>{{ error|escape }}</strong>
                                                                                </div>
                                                                            {% endfor %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    <div class="col-md-12 text-center p-3"><input
                                                                            type="submit"
                                                                            class="btn btn-success btn-send p-2 btn-block "
                                                                            value="Send Message"></div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div> <!-- /.8 -->
                                        </div> <!-- /.row-->
                                    </div>
                                </form>
                            {% else %}
                                <a href="{% url 'login' %}">Login to be able to comment</a>
                            {% endif %}

                            <!-- Single comment-->
                            {% if comments %}
                                {% for comment in comments %}
                                    <div class="d-flex">
                                        <div class="flex-shrink-0"><img class="rounded-circle"
                                                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                                        alt="..."/></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">{{ comment.email }}</div>
                                            {{ comment.body | linebreaks }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Other interesting blogs</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="text-center">
                                <ul class="list-unstyled mb-0">
                                    {% if blogs %}
                                        {% for blog in blogs %}
                                            {% if not blog.id == object.id %}
                                                <li><a href="{% url 'blog post' blog.id %}">{{ blog.subject }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">You can put anything you want inside of these side widgets. They are easy to
                        use, and feature the Bootstrap 5 card component!
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}