{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Blogs page</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/blogs/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/blogs/style.css' %}">
{% endblock %}

{% block content %}
    <!-- banner area start -->
    {% if not all_blogs %}
        <h1 class="text-center">There are no blogs yet!</h1>
    {% else %}
        <div class="form-control bg-secondary" id="banner">
            <!-- banner area start -->
            <div class="banner-inner pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="thumb after-left-top">
                                <img class="img-fluid" src="{{ last_blog.image_url.url }}" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center">
                            <div class="banner-details mt-4 mt-lg-0">
                                <div class="post-meta-single">
                                    <ul>
                                        <li class="date"><i class="fa fa-clock-o"></i>{{ last_blog.date }}</li>
                                    </ul>
                                </div>
                                <h2>{{ last_blog.subject }}</h2>
                                <p>{{ last_blog.short_description }}</p>
                                <a class="btn btn-blue" href="{% url 'blog post' last_blog.id %}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- banner area end -->
            <div class="container p-2">
                <div class="row">
                    {% for blog in blogs %}
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-post-wrap style-white">
                                <div class="thumb">
                                    <img class="img-fluid" src="{{ blog.image_url.url }}" alt="img">
                                </div>
                                <div class="details">
                                    <h6 class="title"><a href="{% url 'blog post' blog.id %}">{{ blog.subject }}</a></h6>
                                    <p>{{ blog.short_description }}</p>
                                    <div class="post-meta-single mt-3">
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i>{{ blog.date }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- banner area end -->

{% endblock %}