{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Login page</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/authentication/login_and_register.css' %}">
{% endblock %}

{% block content %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="wrapper bg-dark">
            <div class="logo"><img
                    src="{% static 'images/winner.jpg' %}"
                    alt=""></div>
            <div class="text-center text-light mt-4 name">Log in</div>
            <div class="form-field d-flex align-items-center"><span class="far fa-user"></span> {{ form.username }}
            </div>
            <div class="form-field d-flex align-items-center"><span class="fas fa-key"></span> {{ form.password }}
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <button class="btn mt-3">Login</button>
            <div class="text-center fs-6"><a href="#">Forgotten password?</a></div>
            <div class="text-center text-light fs-6"><span>Don't have an account? <a href="{% url 'create account' %}">Register</a></span>
            </div>
        </div>
    </form>
{% endblock %}