{% extends 'base.html' %}

{% load static %}
{% block title %}<title>Contacts page</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/contacts/contacts_form.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class=" text-center mt-5 ">
            <h1>Contact Us</h1>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row ">
                <div class="col-lg-7 mx-auto">
                    <div class="card mt-2 mx-auto p-4 bg-light">
                        <div class="card-body bg-light">
                            <div class="container">
                                <form id="contact-form" role="form">
                                    <div class="controls">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="form_name">First
                                                    Name</label>{{ form.first_name }}</div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="form_lastname">Last
                                                    Name</label>{{ form.last_name }}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label
                                                        for="form_email">Email</label>{{ form.email }}</div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="form_need">Please specify your need
                                                </label>{{ form.reason }}</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group"><label for="form_message">Message</label>
                                                    {{ form.content }}</div>
                                            </div>

                                            {% if form.errors %}
                                                {% for field in form %}
                                                    {% for error in field.errors %}
                                                        <div class="alert alert-danger">
                                                            <strong>{{ error|escape }}</strong>
                                                        </div>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endif %}
                                            <div class="col-md-12 text-center p-3"><input type="submit"
                                                                                          class="btn btn-success btn-send p-2 btn-block "
                                                                                          value="Send Message"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- /.8 -->
                </div> <!-- /.row-->
            </div>
        </form>
    </div>

{% endblock %}